body {
  margin: 0;
  text-align: center; 
  font-family: "Merriweather", serif;
  background-color: #f8f4f4;
}

h1 {
  font-size: 4.6875rem; 
  margin-top: 0;
  font-family: "Sacramento", cursive;
  margin: 50px auto 0 auto;
  color: #66bfbf;
  line-height: 2;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #66bfbf;
  font-weight: normal; 
}

h3 {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
}

.top-container {
  background-color: #eaf6f6;
  position: relative;
  padding-top: 100px;
}

.pro {
  text-decoration: underline;
}

.top-clould {
  position: absolute;
  right: 300px;
  top: 40px;
}
.bottom-clould {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.profile {
  width: 30%;
  margin: 80px auto;
}
.mypic {
  width: 45%;
}

p {
  line-height: 2;
}

hr {
  border: dotted;
  border-width: 8px;
  border-bottom: none;
  width: 5%;
  color: #d5f1f1;
  margin: 100px auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.comppng {
  width: 20%;
  float: left; 
  margin: 10px 30px 0 0;
}
.chillipng {
  width: 20%;
  float: right;
  margin-left: 30px;
}
.contact-me {
  width: 50%;
  margin: 0 auto;
}

.footer-link {
  color: #108b8f;
  margin: 50px;
  display: inline-block;
}
.footer-link:hover {
  color: #eaf6f6;
  text-decoration: none;
}

.bottom-container {
  background-color: #66bfbf;
  height: 200px;
  font-family: "Montserrat", sans-serif;
}
.copyright {
  color: #eaf6f6;
  font-size: 0.85rem;
}

.lastmsg {
  width: 50%;
  margin: 30px auto 50px; 
}

.btn {
  display: inline-block;
  margin-bottom: 100px;
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 20px;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
